@model Polls.Models.Election

@{
    ViewData["Title"] = "Create";
}


<h4>Create Election</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ElectionName" class="control-label"></label>
                <input asp-for="ElectionName" class="form-control" />
                <span asp-validation-for="ElectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraInformation" class="control-label"></label>
                <input asp-for="ExtraInformation" class="form-control" />
                <span asp-validation-for="ExtraInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectionStarts" class="control-label"></label>
                <input asp-for="ElectionStarts" class="form-control" />
                <span asp-validation-for="ElectionStarts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectionEnds" class="control-label"></label>
                <input asp-for="ElectionEnds" class="form-control" />
                <span asp-validation-for="ElectionEnds" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

